@mixin inputStyle{
    outline: 0px;
    font-family: inherit;
    font-weight: 600;
    box-sizing: border-box;
    font-size: 16px;
    height: 64px;
    border-radius: 8px;
    border-width: 1px;
    border-style: solid;
    padding-left: 16px;
    padding-right: 16px;
    
}
.login{
    box-sizing: border-box;
    padding-left: 12px;
    padding-right: 12px;
    width: 50%;
    margin:auto;
    display: block;
    padding-top: 96px;

    h1{
        margin-bottom: 4rem;
        text-align: center;    
    }
    &Form{
        display: flex;
        
        flex-direction: column;
    }
    &InputGroup{
        margin-bottom: 48px;
        
        
        
    }
    
}
.formInput{
    position: relative;
    display: flex;
    flex-direction: column;
    font-weight: 600;
    margin-bottom: 5rem;
    &Box{
        margin-bottom: 20px;
    }
  
}