.card{
    flex: 1 1 0%;
    min-width: 30%;
    margin-right: 24px;
    margin-bottom: 54px;
    // max-height:40%;
    min-height:40%;
    max-width:94vw;
    &Box{
        box-sizing: border-box;
        overflow: hidden;
        position: relative;
        width: 100%;
        height: 100%;
        
        box-shadow: rgba(18, 0, 59, .12) 0px 2px 6px, rgba(18, 0, 59 ,.04) 0px -1px 5px;
        border-radius: 16px;
        //background-image: url(https://imgur.com/03wRPdN);

        background-color: rgb(255, 255, 255);
        background-size:102%  101%;
        background-repeat:no-repeat;
        &Inside{
            padding: 32px;
            text-overflow: ellipsis;
        }
    }
}
@media screen and (max-width: 780px){
    .card{
        display: flex;
        width: 100%;
        flex-direction: column;
        min-height: 100px;
        margin-bottom: 24px;
        &BoxInside{
            padding: 24px;
            text-overflow: ellipsis;
        }
    }
}